body {
    background: #E7E6ED;
}
#main {
    display: block;
    text-align: center;
}
figure {
    background: #FFFFFF;
    text-align: center;
}
#image {
    
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
blockquote {
    font-family: Cambria,Georgia,serif;
    font-size: 16px;
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    line-height: 1.7em;
    padding: 1.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

#title {
    text-align: center;
    text-transform: uppercase;
}
